{% extends "base.html" %}

{% block title %}
Edit Produk
{% endblock %}

{% block content %}

<div class="container-fluid">

    <h2 class="mb-4">

        <i class="bi bi-pencil-square"></i>

        Edit Produk

    </h2>

    <div class="card shadow">

        <div class="card-body">

            <form method="POST">

                <div class="mb-3">

                    <label class="form-label">

                        Nama Produk

                    </label>

                    <input
                        type="text"
                        name="nama_produk"
                        class="form-control"
                        value="{{ produk['nama_produk'] }}"
                        required>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        Harga Modal

                    </label>

                    <input
                        type="number"
                        name="harga_modal"
                        class="form-control"
                        value="{{ produk['harga_modal'] }}"
                        required>

                </div>

                <div class="mb-3">

                    <label class="form-label">

                        Harga Jual

                    </label>

                    <input
                        type="number"
                        name="harga_jual"
                        class="form-control"
                        value="{{ produk['harga_jual'] }}"
                        required>

                </div>

                <div class="mb-4">

                    <label class="form-label">

                        Stok

                    </label>

                    <input
                        type="number"
                        name="stok"
                        class="form-control"
                        value="{{ produk['stok'] }}"
                        required>

                </div>

                <button
                    type="submit"
                    class="btn btn-primary">

                    <i class="bi bi-save"></i>

                    Simpan Perubahan

                </button>

                <a
                    href="{{ url_for('produk.daftar_produk') }}"
                    class="btn btn-secondary">

                    <i class="bi bi-arrow-left"></i>

                    Kembali

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}